@mixin button-states($bg-color) {
	background-color: $bg-color;
	padding: 0.4rem 0.8rem;
	transition: all 0.3s ease;
	&:hover {
		background-color: darken($bg-color, 7.5%);
		transform: translateY(-2px);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	}

	&:active {
		background-color: darken($bg-color, 15%);
		transform: translateY(2px);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	> div {
		border: 1px solid #ddd;
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;

	}
}

button {
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
}

#chat-container {
	display: none;
	height: 80vh;
	width: 90vw;
	overflow: hidden;

	.sessions-container {
		width: 25%;
		background-color: #e8e8e8;
		border-right: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		overflow-y: auto;
		height: 100%;

		.search-container {
			display: flex;
			margin-bottom: 1rem;

			input {
				padding: 0.5rem;
				border-radius: 10px;
				border: 2px solid #ccc;
				width: 100%;
			}
		}

		#sessions {
			flex: 1;
			overflow-y: auto;
			margin-bottom: 1rem;
			scrollbar-width: none;
		}

		.session-item {
			display: flex;
			flex-direction: column;
			padding: 0.7rem;
			background-color: #fcfcfc;
			border-radius: 6px;
			margin-bottom: 8px;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				background-color: #f3f3f3;
			}

			.session-name {
				flex-basis: 70%;
				word-break: break-all;
				margin-bottom: 0.5rem;
				font-weight: 500;
			}

			.buttons-wrapper {
				display: flex;
				gap: 8px;

				button {
					flex: 1;
					cursor: pointer;

					&.regenerate-button {
						@include button-states(#2196f3);
					}

					&.edit-button {
						@include button-states(#4caf50);
					}

					&.delete-button {
						@include button-states(#f44336);
					}
				}
			}

		}

		button {
			margin-top: 0;
			@include button-states(#4caf50);
		}
	}

	.chat-main {
		display: flex;
		flex-direction: column;
		flex: 1;

		.output-container {
			flex: 1;
			padding: 1rem;
			overflow-y: auto;
			border-bottom: 1px solid #ddd;
			display: flex;
			flex-direction: column;
			gap: 0;

			.message {
				margin: 0.5rem 0;
				padding: 0.5rem;
				border-radius: 5px;
				white-space: pre-line;

				&.user {
					background-color: #e0f7fa;
					align-self: end;
				}

				&.ai {
					background-color: #f0f0f0;
					align-self: baseline;
				}
			}
		}

		.input-container {
			display: flex;
			padding: 1rem;
			background-color: #f9f9f9;

			textarea {
				flex: 1;
				font-size: 1rem;
				padding: 0.5rem;
				resize: none;
				border-radius: 10px;
				border: 2px dashed #ccc;
				outline: none;
				transition: all 0.3s ease;

				&:focus {
					border: 2px dashed #4caf50;
				}
			}

			button {
				margin: 0 0.3rem;
				@include button-states(#4caf50);
			}
		}
	}
}

#auth-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 300px;
	padding: 1rem;

	h2,
	h3 {
		text-align: center;
		margin-bottom: 0.5rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		input {
			padding: 0.5rem;
			border: 2px dashed #ccc;
			flex: 1;
			font-size: 1rem;
			border-radius: 5px;
			outline: none;
			transition: all 0.3s ease;

			&:focus {
				border: 2px dashed #4caf50;
			}
		}

		button {
			@include button-states(#4caf50);
		}
	}
}