* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.chat-container {
	display: flex;
	height: 80vh;
	width: 90vw;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	.sessions-container {
		width: 25%;
		background-color: #e8e8e8;
		border-right: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		overflow-y: auto;

		.session-item {
			padding: 0.5rem;
			margin-bottom: 0.5rem;
			background-color: #ffffff;
			border: 1px solid #ddd;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #d9d9d9;
			}
		}
	}

	.chat-main {
		display: flex;
		flex-direction: column;
		flex: 1;

		.output-container {
			flex: 1;
			padding: 1rem;
			overflow-y: auto;
			border-bottom: 1px solid #ddd;
			display: flex;
			flex-direction: column;
			gap: 0;

			.message {
				margin: 0.5rem 0;
				padding: 0.5rem;
				border-radius: 5px;
				white-space: pre-line;

				&.user {
					background-color: #e0f7fa;
					align-self: end;
				}

				&.ai {
					background-color: #f0f0f0;
					align-self: baseline;
				}
			}
		}

		.input-container {
			display: flex;
			padding: 1rem;
			background-color: #f9f9f9;

			textarea {
				flex: 1;
				font-size: 1rem;
				padding: 0.5rem;
				resize: none;
				border-radius: 10px;
				border: 2px dashed #ccc;
				outline: none;
				transition: all 0.2s ease;

				&:focus {
					border: 2px dashed #4caf50;
				}
			}

			button {
				background-color: #4caf50;
				color: white;
				border: none;
				cursor: pointer;
				margin-left: 0.5rem;
				padding: 10px;
				border-radius: 10px;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: darken(#4caf50, 5%);
					transform: translateY(-2px);
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
				}

				&:active {
					background-color: darken(#4caf50, 10%);
					transform: translateY(2px);
				}
			}
		}
	}
}