body {
	font-family: Arial, sans-serif;
	margin: 2rem;
	background-color: #f0f0f0;
	color: #333;
}

.form-container {
	margin-bottom: 1rem;

	textarea,
	button {
		font-size: 1rem;
		padding: 0.5rem;
	}

	textarea {
		width: 100%;
		height: 100px;
		margin-bottom: 1rem;
	}

	button {
		background-color: #4CAF50;
		color: white;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #45a049;
		}
	}

}

.output-container {
	border: 1px solid #ddd;
	padding: 1rem;
	background-color: #fff;
	white-space: pre-wrap;
	min-height: 50px;
	overflow-wrap: break-word;
}